.container{
    display: grid;
    background-color: #2196F3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 200px ;
    border: 1px solid black;
  }
  .header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-column-start: 1;
    grid-row-end: 2;
    background-color: black;
    border: 1px solid red;
    color: white;

  }

  .container1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: yellow;
    border: 1px solid red;
  }


  .container11{
    background-color: red;
    border: 1px solid yellow;
    height: 100px;
    margin-top: 15px;
  }

  .container12{
    background-color: orange;
    border: 1px solid pink;
    height: 100px;
    margin-top: 15px;
    
  }
  .container13{
    background-color: aqua;
    border: 1px solid pink;
    height: 90px;
  }
  .container14{
    background-color: chocolate;
    border: 1px solid rgb(216, 192, 255);
    height: 90px;
  }
  


  .container2{
    background-color: aqua;
    border: 1px solid black;
  }
.container3{
    background-color: chartreuse;
    border: 1px solid blue;
}
.container4{
    background-color: orange;
    border: 1px solid green;
}


  