/* body{
    background-color: aqua;
} */

.parent{
    display:flex;
    background-color: chartreuse;
    border:1px solid red;
    justify-content: space-evenly;
}
.child1{
    background-color: blue;
    border:1px solid black;
    height:100px;
    width:100px;
    
    
}
.child2{
    height:100px;
    width:100px;
   
    background-color: aqua;
}
.child3{
    height:100px;
    width:100px;
    background-color: rgb(255, 60, 0);
}
.child4{
    height:100px;
    width:100px;
    background-color: yellow;
}