body{
    background-color: aqua;
}
.box{
    height: 300px;
    width: 450px;
    border: 1px solid red;
    background-color: blue;
    margin: 20px;
    margin-top: 25px;
    margin-left: 10px;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    border: 2px solid black;
}